<% if(rating) { %>
    <div style="width: 50%">
      <hr>
      <p>
          <%= rating.score %>
          <%= rating.review %>
      </p>
      <small class="card-subtitle mb-2 text-muted">
          left by <%= rating.User.username %> on <%= rating.createdAt %>
      </small>
    </div>

    <% if(currentUser && (currentUser.id === rating.userId || currentUser.isAdmin())) { %>
        <form style="display:initial"
              action="/beers/<%= beer.id %>/ratings/<%= rating.id %>/destroy"
              method="post">
          <button type="submit" class="btn btn btn-sm btn-outline-danger">Delete</button>
        </form>
      <% } %>
      <hr>
    </div>

<% } %>