<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        
      <h1><%= beer.name %></h1>
      <p><%= beer.brewery %></p>
      <p><%= beer.style %></p>
      <p><%= beer.abv %>% ABV</p>
    
      <p><%= beer.description %></p>
      

      <section id="rating-form">

        <% if(currentUser) { %>
          <% include ../ratings/new.ejs %>
        
        <% } %>
      </section>
      <section id="rating-list">
        <% if(beer.ratings) { %>
          <% beer.ratings.forEach((rating) => { %>
            <%- include("../ratings/show/ejs", {rating}) %>

       <% }) %>
      <% } %>
      </section>


      <form style="display:initial" action="/beers/<%= beer.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete Beer</button>
      </form>
      <a href="/beers/<%= beer.id %>/edit" class="btn btn-warning">Edit Beer</a>
      <a href="/beers" class="btn btn-primary">Back to Beer List</a>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>