<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>


      <h1><%= `${user.username}'s profile` %></h1>

      <h2>Latest Reviews</h2>
      <ul class="list-unstyled">


               <% if(user.ratings) { %>
                 <% user.ratings.forEach((rating) => { %>

                 <li> 
                   <a href="/beers/<%= rating.beerId %>"> <%= rating.Beer.name %>
                  </a>
                  <p><%= rating.score%>/10</p>

                   <p> <%= rating.review%>
                  </p>
                 </li>
                 <% }) %>
               <% } %>
             </ul>

      
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>